<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/media/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/detalhes.css">
    <title>MeuSneaker.com</title>
</head>

<body>
    dy>
    <header class="header-bar" id="header-bar">
    
        <button onclick="toggleSidebar()" class="btn_icon_header">
            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-list"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
            </svg>
        </button>
    
        <div class="logo_header">
            <a href="/"><img src="/assets/media/Ativo 1.png" alt="Logo S" class="img_logo_header" /></a>
        </div>
    
        <div class="navigation_header" id="navigation_header">
            <button onclick="toggleSidebar()" class="btn_icon_header">
                <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-x"
                    viewBox="0 0 16 16">
                    <path
                        d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                </svg>
            </button>
    
            <a href="/" class="active">Meus Sneakers</a>
            <a href="" class="active">TOP10 da Semana</a>
            <a href="" class="active">Lançamentos</a>
            <a href="/cadastro" class="cadastrar">CADASTRAR</a>
        </div>
    
    </header>
    <main>
        
        <div class="detalhesTenis">
            <div class="container">
                <div class="wrap type" role="slider">
        
                    <input type="radio" id="s-1" name="slider-control" checked="checked">
                    <input type="radio" id="s-2" name="slider-control">
                    <input type="radio" id="s-3" name="slider-control">
        
                    <ul class="imagens">

                        <li class="s-imagens-1"><img src="<%=produto.imagem1%>" alt="tenis_img1"></li>

                        <li class="s-imagens-2"><img src="<%=produto.imagem2%>" alt="tenis_img2"></li>
                        
                        <li class="s-imagens-3"><img src="<%=produto.imagem3%>" alt="tenis_img3"></li>
                    </ul>
        
                    <div class="s-control">
                        <label class="s-c-1" for="s-1"></label>
                        <label class="s-c-2" for="s-2"></label>
                        <label class="s-c-3" for="s-3"></label>
                    </div>
        
                    <div class="s-nav">
                        <label class="s-nav-1 right" for="s-2"></label>
                        <label class="s-nav-2 left" for="s-1"></label>
                        <label class="s-nav-2 right" for="s-3"></label>
                        <label class="s-nav-3 left" for="s-2"></label>
                        <label class="s-nav-3 right" for="s-4"></label>
                    </div>
                </div>
        
            </div>
            <div class="textoDetalhes">
                <h2><%=produto.nome%></h2>
                <h3><%=produto.nota%>/(5.0)</h3>
                <p><%=produto.descricao%></p>
                <h3>Uso: <%=produto.uso%></h3>
                <h3>Material: <%=produto.material%></h3>
            </div>
        </div>                      
    </main>
    <footer>
        <p>Todos os direitos reservados &copy; - David - Micael - Felipe - Carlos </p>
    </footer>
</body>
</html>