<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/media/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href= "/css/style.css">
    <title>MeuSneaker.com</title>
</head>
<body>
    <header>
        <nav class="navBar">
            <div class="header" id="header">

                <button onclick="toggleSidebar()" class="btn_icon_header">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-list"
                        viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
                    </svg>
                </button>

                <div class="navigation_header" id="navigation_header">
                    <button onclick="toggleSidebar()" class="btn_icon_header">
                    <img src="https://img.icons8.com/fluency/48/000000/delete-sign.png"/>
                    </button>
                </div>

            </div>
           <img src="/assets/media/Ativo 1.png" alt="logo">
            <div class="btn">
                <a href="/">Meus Sneakers</a>
                <a href="">TOP10 da Semana</a>
                <a href="">Lançamentos</a>
                <a id="btnCadastrar" href="/cadastro">CADASTRAR</a>
            </div>
    </header>
    <main>
        <section class="card">
<% estoque.forEach((produto)=> { %>

            <div id="card">
                <div class="drop-menu">
                    <div class="drop-btn">
                <img src="https://img.icons8.com/material/24/000000/menu-2--v1.png">
                    </div>
                    <div class="drop-content">
                        <a href="/getById/<%=produto.id%>/put">Editar</a>
                        <a href="/getById/<%=produto.id%>/delete">Apagar</a>
                        <a href="/detalhes/<%=produto.id%>">Saiba mais</a>
                    </div>
                </div>
                <img class="tenis" src="<%=produto.imagem1%>" alt="tenis">
                <p><%=produto.nome%></p>

                <div id ="rank">
                    <img src="https://img.icons8.com/fluency/48/000000/star.png"/>
                    <p><%=produto.nota%></p>
                </div>

                <p><%=produto.uso%></p>
            </div>
<% }); %>
        </section>
    </main>
    <% if(produtoPut!=null){%>
        <%- include("./components/modalUp") %>
            <% } %>

    <% if(produtoDel!=null){%>
        <%- include("./components/modalDel") %>
            <% } %>
    <footer>
        <p>Todos os direitos reservados &copy; - David - Micael - Felipe - Carlos </p>
    </footer>
</body>
<script src="/js/script.js"></script>
</html>
